/**
 * Place your custom CSS styles here.
 **/
 .item-edit-ts-bot {
  background-color: #5C6AC4!important; color: #F4F5FA;
  vertical-align: middle;
  text-align:center;
  font-size: 9px;
  display: flex; 
  justify-content: center;
  align-content: center;
  display: none;
  border-radius: 5px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  text-align: center;
}
.item-edit-ts-bot:hover {
  color: #fff; 
  background-color: #202E78!important;
}

.ts-edit-text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}